[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = req_ext

[ req_distinguished_name ]
countryName                     = UK
countryName_default             = UK
stateOrProvinceName             = London
stateOrProvinceName_default     = London
localityName                    = London
localityName_default            = London
organizationName                = Talifun Ltd
organizationName_default        = Talifun Ltd
organizationalUnitName          = Web Services
organizationalUnitName_default  = Web Services
commonName                      = localhost CA
commonName_max                  = 64
commonName_default              = localhost CA
emailAddress                    = taliesins@localhost
emailAddress_default            = taliesins@localhost

[ req_ext ]
basicConstraints                = critical, CA:TRUE
subjectKeyIdentifier            = hash
authorityKeyIdentifier          = keyid:always, issuer:always
keyUsage                        = critical, cRLSign, digitalSignature, keyCertSign
subjectAltName                  = email:move

