[ req ]
prompt 			   = no
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = req_ext

[ req_distinguished_name ]
C  = UK
ST = London
L  = London
O = Talifun Ltd
OU = Web Services
CN = *.dev.localhost
emailAddress = taliesins@localhost

[ req_ext ]
basicConstraints                = critical, CA:TRUE
subjectKeyIdentifier            = hash
authorityKeyIdentifier          = keyid:always, issuer:always
keyUsage                        = critical, cRLSign, digitalSignature, keyCertSign
subjectAltName                  = email:move

