[ req ]
prompt 			   = no
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = req_ext

[ req_distinguished_name ]
C  = UK
ST = London
L  = London
O = Talifun Ltd
OU = Web Services
CN = *.dev.localhost
emailAddress                    = taliesins@localhost


[ req_ext ]
basicConstraints                = critical, CA:FALSE, pathlen:0
subjectKeyIdentifier            = hash
keyUsage                        = critical, digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment, keyAgreement 
subjectAltName                  = @alt_names

[alt_names]
DNS.1                           = *.dev.localhost
DNS.2                           = dev.localhost